.checkout{
    display: flex;
    padding: 20px;
    background: white;
    height: max-content;
}

.checkout__title{
    padding: 10px;
    margin-right: 10px;
    border-bottom: 1px soli lightgray;
}

.checkout__right{
    margin: auto;
    margin-top: 100px;
    padding-bottom: 30px;
}