.navlink{
    background-color:  rgb(231, 144, 14);
    min-height: 39px;
    color: white;
}

.navlink__outer {
    width: 70%;
    margin: auto;
    padding: 6px;

}

.navlink__outer a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 5px;
    margin-right: 5px;

}

.navlink__outer a:hover{
    border: 2px solid #fff;
    border-radius: 4px;
}