.footerarea{
    background-color: rgb(231, 144, 14);
    width: 100%;
    min-height: 200px;
    color: whitesmoke;
}
.footerarea__top{
    background-color: #e7be35;
    align-items: center;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;

}

.footerarea__links{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

